html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    min-height: 100vh;
    padding: 80px;
    scroll-margin-top: 100px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 80px;
    background: #111;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 35px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    font-size: 18px;
    transition: 0.3s;
    position: relative;
}

.nav-links a::after {

    content: "";

    position: absolute;

    left: 0;

    bottom: -5px;

    width: 0;

    height: 2px;

    background: #00bfff;

    transition: .3s;

}

.avatar {

    transition: .3s;

}

.avatar:hover {

    transform: scale(1.08);

}

.nav-links a:hover {
    color: #00bfff;
}

body {
    padding-top: 80px;
}

.logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position:center 15%;
}

.profile-text h1 {
    color: white;
    font-size: 32px;
    margin: 0;
    font-weight: 700;
}

.profile-text p {
    color: #b0b0b0;
    margin-top: 8px;
    font-size: 18px;
}

.hero {

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    text-align: center;

    min-height: 90vh;

}

.avatar {

    width: 180px;

    height: 180px;

    border-radius: 50%;

    object-fit: cover;

    margin-bottom: 30px;

}

.hero h1 {

    font-size: 55px;

    margin-bottom: 10px;

}

.hero h2 {

    color: gray;

    font-weight: 400;

    margin-bottom: 30px;

}

.info {

    display: flex;

    gap: 20px;

    flex-wrap: wrap;

    justify-content: center;

}

.info a,
.info span {

    background: #222;
    color: white;
    padding: 12px 20px;
    border-radius: 30px;
    text-decoration: none;
    transition: .3s;

}

.info a:hover {

    background: #00bfff;
    transform: translateY(-4px);

}

.about-container {
    max-width: 1000px;
    margin: auto;
}

.about-container h2 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 40px;
}

.about-container h2::after {
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background: #00bfff;
    margin: 15px auto 0;
}

.about-container p {
    font-size: 18px;
    line-height: 1.8;
    color: #d5d5d5;
    margin-bottom: 20px;
}

.about-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 40px;
}

.about-info div {
    background: rgba(255, 255, 255, .08);
    border: 1px solid rgba(255, 255, 255, .08);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
}

.about-info strong {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #7da0b5;
}

.about-info p {
    margin: 0;
    color: #d5d5d5;
}

.skills-container {
    max-width: 1200px;
    margin: auto;
}

.skills-container h2 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 50px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.skill-card {

    background: rgba(255, 255, 255, .08);

    padding: 30px;

    border-radius: 15px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);

    transition: .3s;

}

.skill-card:hover {

    transform: translateY(-8px);

    box-shadow: 0 15px 30px rgba(0, 0, 0, .15);

}

.skill-card h3 {

    margin-bottom: 15px;

    color: #00bfff;

}

.skill-card p {

    color: #d5d5d5;

    line-height: 1.7;

}

.projects-container {

    max-width: 1200px;

    margin: auto;

}

.projects-container h2 {

    text-align: center;

    font-size: 42px;

    margin-bottom: 60px;

}

.project-grid {

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 30px;

}

.project-card {

    background: rgba(255, 255, 255, .08);

    border-radius: 15px;

    overflow: hidden;

    box-shadow: 0 5px 20px rgba(0, 0, 0, .08);

    transition: .35s;

}

.project-card:hover {

    transform: translateY(-12px) scale(1.03);

    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);

}

.project-content {

    padding: 25px;

}

.project-content h3 {

    margin-bottom: 15px;

}

.project-content p {

    color: #d5d5d5;

    line-height: 1.7;

}

.project-tags {

    margin: 20px 0;

}

.project-tags span {

    display: inline-block;

    background: #00bfff;

    color: white;

    padding: 6px 14px;

    border-radius: 20px;

    margin: 5px;

    font-size: 14px;

}

.btn {

    display: inline-block;

    margin-top: 15px;

    text-decoration: none;

    background: #111;

    color: white;

    padding: 12px 22px;

    border-radius: 8px;

    transition: .3s;

}

.btn:hover {

    background: #00bfff;
    transform: translateY(-3px);

}

.contact-container {
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.contact-container h2 {
    font-size: 42px;
    margin-bottom: 20px;
}

.contact-container>p {
    color: #ccc;
    margin-bottom: 50px;
    line-height: 1.8;
}

.contact-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-bottom: 40px;
}

.contact-card {
    background: rgba(255, 255, 255, .08);
    padding: 25px;
    border-radius: 12px;
    transition: .3s;
}

.contact-card:hover {
    transform: translateY(-5px);
    background: #2a2a2a;
}

.contact-card h3 {
    margin-bottom: 10px;
    color: #00bfff;
}

.contact-card p {
    color: #ddd;
}

.contact-card a {

    color: white;
    text-decoration: none;
    transition: .3s;

}

.contact-card a:hover {

    color: #00bfff;

}

.contact-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.contact-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 190px;
    height: 55px;

    background: linear-gradient(135deg, #00bfff, #008cff);
    color: white;
    text-decoration: none;

    font-size: 18px;
    font-weight: 600;

    border-radius: 50px;

    transition: .35s;

    box-shadow: 0 10px 25px rgba(0, 191, 255, .35);
}

.contact-btn:hover {

    transform: translateY(-5px) scale(1.05);

    box-shadow: 0 15px 35px rgba(0, 191, 255, .55);

}

.contact-btn:active {

    transform: scale(.96);

}

/* ==========================================
   TABLET (<=1024px)
========================================== */

@media (max-width:1024px) {

    .navbar {
        padding: 15px 40px;
    }

    .hero h1 {
        font-size: 48px;
    }

    .hero h2 {
        font-size: 26px;
    }

    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}


/* ==========================================
   MOBILE (<=768px)
========================================== */

@media (max-width:768px) {

    body {
        padding-top: 0px;
    }

    .navbar {

        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: sticky;
        padding: 15px;
        top: 0;
        height: auto;

    }

    .logo {

        flex-direction: column;
        gap: 10px;

    }

    .logo img {

        width: 70px;
        height: 70px;
        
    }

    .profile-text h1 {
        text-align: center;
        font-size: 22px;

    }

    .profile-text p {
        text-align: center;
        font-size: 14px;

    }

    .nav-links {

        margin-top: 15px;

        gap: 12px;

        flex-wrap: wrap;

        justify-content: center;

    }

    .nav-links a {

        font-size: 15px;

    }

    section {

        padding: 60px 20px;

        scroll-margin-top: 180px;

    }

    .hero {

        min-height: auto;

        padding-top: 20px;

    }

    .avatar {

        width: 120px;
        height: 120px;

    }

    .hero h1 {

        font-size: 34px;

    }

    .hero h2 {

        font-size: 18px;

        margin-bottom: 20px;

    }

    .info {

        flex-direction: column;

        align-items: center;

        gap: 12px;

    }

    .info a,
    .info span {

        width: 100%;

        max-width: 320px;

        text-align: center;

        font-size: 15px;

    }

    .about-container h2,
    .skills-container h2,
    .projects-container h2,
    .contact-container h2 {

        font-size: 30px;

    }

    .about-container p,
    .skill-card p,
    .project-content p {

        font-size: 15px;

        line-height: 1.7;

    }

    .about-info {

        grid-template-columns: 1fr;

    }

    .skills-grid {

        grid-template-columns: 1fr;

    }

    .project-grid {

        grid-template-columns: 1fr;

    }

    .contact-info {

        grid-template-columns: 1fr;

    }

    .contact-buttons {

        flex-direction: column;

        align-items: center;

    }

    .contact-btn {

        width: 100%;

        max-width: 280px;

    }

}

img {

    max-width: 100%;

    height: auto;

    object-position: center 15%;

}

#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 4px;
    background: #00bfff;
    z-index: 9999;
    transition: width .1s linear;
}

.navbar {

    transition: .4s;

}

.navbar.scrolled {

    background: #000;

    box-shadow: 0 10px 25px rgba(0, 0, 0, .2);

}

.hidden {

    opacity: 0;

    transform: translateY(60px);

    transition: all .8s ease;

}

.show {

    opacity: 1;

    transform: translateY(0);

}

#topBtn {

    position: fixed;

    bottom: 30px;

    right: 30px;

    width: 55px;

    height: 55px;

    border: none;

    border-radius: 50%;

    background: #00bfff;

    color: white;

    font-size: 22px;

    cursor: pointer;

    display: none;

    transition: .3s;

}

#topBtn:hover {

    transform: scale(1.1);

}

#particles-js {

    position: fixed;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    z-index: -1;

    background: #0d1326;

}

body {
    background: #0d1326;
    color: white;
}

section {
    background: transparent;
}

.about-card,
.skill-card,
.project-card,
.contact-card,
.timeline-item {

    background: rgba(255, 255, 255, 0.08);

    border: 1px solid rgba(255, 255, 255, .1);

    backdrop-filter: blur(10px);

    border-radius: 20px;

}

p {
    color: #c8c8c8;
}

h1,
h2,
h3 {
    color: white;
}